.version.ctdealer136 /* version checker */
{
	color: #0000FE;
	background-color: #694B41;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -2px;
	width: 0.01px;
}

#u12662
{
	z-index: 29;
	height: 166px;
	-pie-box-shadow: none;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
	border-style: none;
	border-color: transparent;
	background-color: #383A36;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

.js #u12662.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u12662-bw
{
	z-index: 29;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -41px;
}

#slideshowu12703
{
	z-index: 6;
	width: 0.01px;
	height: 200px;
	left: -100px;
	position: relative;
}

#u12712
{
	position: absolute;
	width: 1224px;
	height: 200px;
	background-color: transparent;
}

#u12712popup
{
	z-index: 7;
}

#u12723
{
	z-index: 8;
	width: 1224px;
	height: 200px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u12713
{
	z-index: 10;
	width: 1224px;
	height: 200px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u12725
{
	z-index: 12;
	width: 1224px;
	height: 200px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u12715
{
	z-index: 14;
	width: 1224px;
	height: 200px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u12719
{
	z-index: 16;
	width: 1224px;
	height: 200px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u12717
{
	z-index: 18;
	width: 1224px;
	height: 200px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u12721
{
	z-index: 20;
	width: 1224px;
	height: 200px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u12667
{
	z-index: 22;
	height: 200px;
	border-color: #000000;
	background: #5E5E5E url("../images/pattern-overlay-u2480-fr.png") repeat center center;
	background-color: rgba(0,0,0,0.63);
}

#u12667-bw
{
	z-index: 22;
	margin-top: -200px;
	margin-bottom: -200px;
	height: 200px;
}

#pu12659
{
	width: 0.01px;
	padding-bottom: 106px;
	margin-top: -191px;
}

#u12659
{
	z-index: 30;
	position: fixed;
	top: 9px;
	left: 100px;
}

#u12659_img
{
	display: block;
	vertical-align: top;
}

#u12670
{
	z-index: 32;
	width: 720px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 73px;
	left: 305px;
}

#u12672
{
	z-index: 33;
	width: 647px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12673-4
{
	z-index: 59;
	width: 121px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u12673-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 121px;
	margin: 8px -10000px 0px 0px;
}

#menuu12674
{
	z-index: 34;
	width: 505px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 142px;
}

#u12682
{
	width: 114px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12683
{
	width: 114px;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
}

#u12683:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u12683.MuseMenuActive
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u12686-4
{
	width: 68px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 23px;
}

#u12683:hover #u12686-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u12683.MuseMenuActive #u12686-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u12673-4:hover p,#u12683:hover #u12686-4 p
{
	color: #66A4E4;
	visibility: inherit;
}

#u12689
{
	width: 95px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 116px;
}

#u12690
{
	width: 95px;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
}

#u12690.MuseMenuActive
{
	width: 95px;
	min-height: 0px;
	margin: 0px;
}

#u12693-4
{
	width: 50px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 22px;
}

#u12690:hover #u12693-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u12690.MuseMenuActive #u12693-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u12683.MuseMenuActive #u12686-4 p,#u12690:hover #u12693-4 p
{
	color: #66A4E4;
	visibility: inherit;
}

#u12696
{
	width: 157px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 213px;
}

#u12697
{
	width: 157px;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
}

#u12698-4
{
	width: 112px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 22px;
}

#u12697:hover #u12698-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#u12697.MuseMenuActive #u12698-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#u12690.MuseMenuActive #u12693-4 p,#u12697:hover #u12698-4 p
{
	color: #66A4E4;
	visibility: inherit;
}

#u12675
{
	width: 133px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 372px;
}

#u12678
{
	width: 133px;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
}

#u12678:hover
{
	width: 133px;
	min-height: 0px;
	margin: 0px;
}

#u12678:active
{
	width: 133px;
	min-height: 0px;
	margin: 0px;
}

#u12681-4
{
	width: 88px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 22px;
}

#u12678:hover #u12681-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u12678:active #u12681-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u12678.MuseMenuActive #u12681-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u12697.MuseMenuActive #u12698-4 p,#u12678:hover #u12681-4 p
{
	color: #66A4E4;
	visibility: inherit;
}

#u12678:active #u12681-4 p
{
	color: #66A4E4;
	visibility: inherit;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u12671-4
{
	z-index: 63;
	width: 73px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 647px;
}

#u12671-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 73px;
	margin: 6px -10000px 0px 0px;
}

#u12678.MuseMenuActive #u12681-4 p,#u12671-4:hover p
{
	color: #66A4E4;
	visibility: inherit;
}

#pu12663
{
	width: 0.01px;
	margin-left: 77px;
	margin-top: 39px;
}

#u12663
{
	z-index: 4;
	width: 59px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12665
{
	z-index: 3;
	width: 368px;
	min-height: 59px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FC5F0E;
	font-size: 24px;
	text-align: left;
	line-height: 29px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 91px;
}

#u12658-5
{
	z-index: 23;
	width: 984px;
	min-height: 110px;
	background-color: transparent;
	line-height: 144px;
	text-align: center;
	font-size: 72px;
	color: #414243;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 5px;
	position: relative;
}

#u12658-2
{
	color: #FC6719;
}

#u12668
{
	z-index: 2;
	width: 936px;
	min-height: 2029px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 44px;
	margin-top: 4px;
	position: relative;
}

#u12661
{
	z-index: 28;
	height: 184px;
	border-style: solid;
	border-color: #FC5F0E;
	background-color: #414143;
	border-width: 0px 0px 4px;
}

#u12661-bw
{
	z-index: 28;
	margin-top: -124px;
	margin-bottom: -124px;
	height: 184px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-bottom: 107px;
}

#page .verticalspacer
{
	clear: both;
}

