.Paragraph-Style
{
	font-family: dancing-script-n7, sans-serif;
}

.S001---Caption
{
	font-family: josefin-sans-n4, sans-serif;
}

.bodytext
{
	font-family: droid-sans-n4, sans-serif;
}

.caption,.Quote,.heading2,.heading1
{
	font-family: montserrat-n4, sans-serif;
}

#u14624-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14606-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14599-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14623-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14615-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14593-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14727-5,#u14728-13,#u14763-4,#u15549-4,#u14752-10
{
	font-family: open-sans-n4, sans-serif;
}

#u14753-5
{
	font-family: open-sans-n4, sans-serif;
}

