.Paragraph-Style
{
	font-family: dancing-script-n7, sans-serif;
}

.S001---Caption
{
	font-family: josefin-sans-n4, sans-serif;
}

.bodytext
{
	font-family: droid-sans-n4, sans-serif;
}

.caption,.Quote,.heading2,.heading1
{
	font-family: montserrat-n4, sans-serif;
}

#u9168-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u9143-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u9165-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u9151-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u9158-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u9169-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u7167-5,#u3160-4,#u3161-4,#u3171-4,#u3177-20,#u2350-9
{
	font-family: open-sans-n4, sans-serif;
}

#u2339-5
{
	font-family: open-sans-n4, sans-serif;
}

