.Paragraph-Style
{
	font-family: dancing-script-n7, sans-serif;
}

.S001---Caption
{
	font-family: josefin-sans-n4, sans-serif;
}

.bodytext
{
	font-family: droid-sans-n4, sans-serif;
}

.caption,.Quote,.heading2,.heading1
{
	font-family: montserrat-n4, sans-serif;
}

#u10669-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u10688-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u10683-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u10674-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u10696-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u10699-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u8180-8
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u8178
{
	font-family: montserrat-n4, sans-serif;
}

#u8166-5,#u8168-10
{
	font-family: open-sans-n4, sans-serif;
}

#u8169-5
{
	font-family: open-sans-n4, sans-serif;
}

