.Paragraph-Style
{
	font-family: dancing-script-n7, sans-serif;
}

.S001---Caption
{
	font-family: josefin-sans-n4, sans-serif;
}

.bodytext
{
	font-family: droid-sans-n4, sans-serif;
}

.caption,.Quote,.heading2,.heading1
{
	font-family: montserrat-n4, sans-serif;
}

#u12376-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u12360-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u12364-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u12352-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u12372-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u12377-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u12242-4
{
	font-family: montserrat-n4, sans-serif;
}

#u12250-8,#u12275-7
{
	font-family: alex-brush-n4, cursive;
}

#u12229-5,#u12287-4,#u12288-4,#u12289-4,#u12268-4,#u12237-9
{
	font-family: open-sans-n4, sans-serif;
}

#u12232-5
{
	font-family: open-sans-n4, sans-serif;
}

#u12280-4,#u12252-4,#u16242-4
{
	font-family: open-sans-n7, sans-serif;
}

#u16277-22,#u16278-4
{
	font-family: open-sans-n4, sans-serif;
}

