.Paragraph-Style
{
	font-family: dancing-script-n7, sans-serif;
}

.S001---Caption
{
	font-family: josefin-sans-n4, sans-serif;
}

.bodytext
{
	font-family: droid-sans-n4, sans-serif;
}

.caption,.Quote,.heading2,.heading1
{
	font-family: montserrat-n4, sans-serif;
}

#u14088-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14083-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14079-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14062-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14071-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14089-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14129-4,#u14143-4,#u14127-4,#u14139-4,#u14125-4,#u14153-4,#u14123-4,#u14133-4,#u14147-4,#u14151-4,#u14145-4,#u14149-4
{
	font-family: open-sans-n7, sans-serif;
}

#u14220-5,#u14218-7,#u14054-5,#u13986-6,#u13988-6,#u14053-6,#u13985-6,#u14090-6,#u14055-6,#u14043-6,#u14050-6,#u13983-6,#u14106-4,#u14102-6,#u14091-7,#u14042-5,#u14049-9
{
	font-family: open-sans-n4, sans-serif;
}

#u14092-6
{
	font-family: open-sans-n4, sans-serif;
}

