.Paragraph-Style
{
	font-family: dancing-script-n7, sans-serif;
}

.S001---Caption
{
	font-family: josefin-sans-n4, sans-serif;
}

.bodytext
{
	font-family: droid-sans-n4, sans-serif;
}

.caption,.Quote,.heading2,.heading1
{
	font-family: montserrat-n4, sans-serif;
}

#u14661-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14660-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14636-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14643-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14650-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14630-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14389-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14348-5,#u14350-4,#u14392-4,#u15533-10
{
	font-family: open-sans-n4, sans-serif;
}

#u15534-5
{
	font-family: open-sans-n4, sans-serif;
}

