.Paragraph-Style
{
	font-family: dancing-script-n7, sans-serif;
}

.S001---Caption
{
	font-family: josefin-sans-n4, sans-serif;
}

.bodytext
{
	font-family: droid-sans-n4, sans-serif;
}

.caption,.Quote,.heading2,.heading1
{
	font-family: montserrat-n4, sans-serif;
}

#u9510-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u9485-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u9507-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u9493-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u9500-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u9511-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u6951-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u6953
{
	font-family: montserrat-n4, sans-serif;
}

#u6065-5,#u8822-4,#u8823-4,#u6957-10
{
	font-family: open-sans-n4, sans-serif;
}

#u6958-5
{
	font-family: open-sans-n4, sans-serif;
}

