.Paragraph-Style
{
	font-family: dancing-script-n7, sans-serif;
}

.S001---Caption
{
	font-family: josefin-sans-n4, sans-serif;
}

.bodytext
{
	font-family: droid-sans-n4, sans-serif;
}

.caption,.Quote,.heading2,.heading1
{
	font-family: montserrat-n4, sans-serif;
}

#u16212
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u16212-7,#u13786-3
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u13857-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u13865-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u13870-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u13876-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u13883-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u13887-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u13783,#u13894,#u13774,#u13771-5,#u14744,#u14746,#u14748,#u14750-5,#u16218-6,#u14224-5,#u14244-4,#u14302-4,#u14307-4,#u14308-4,#u14309-4,#u14310-4,#u14245-4,#u14323-4,#u14328-4,#u14474,#u14476-4
{
	font-family: open-sans-n4, sans-serif;
}

#u13892-16,#u13837-4,#u13720-4,#u13772-4,#u13834-4,#u13854-4,#u13891-4,#u13781-7,#u13969-4,#u13724-5,#u13770-4,#u13779-4,#u13765-4,#u13896-6,#u13888-18,#u13893-5,#u13717-10
{
	font-family: open-sans-n4, sans-serif;
}

#u13852-5
{
	font-family: open-sans-n4, sans-serif;
}

