.Paragraph-Style
{
	font-family: dancing-script-n7, sans-serif;
}

.S001---Caption
{
	font-family: josefin-sans-n4, sans-serif;
}

.bodytext
{
	font-family: droid-sans-n4, sans-serif;
}

.caption,.Quote,.heading2,.heading1
{
	font-family: montserrat-n4, sans-serif;
}

#u9206-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u9181-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u9203-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u9189-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u9196-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u9207-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u8315-5,#u8366-6,#u8311-6,#u8363-6,#u8364-6,#u8374-6,#u8263-6,#u8474-6,#u8270-6,#u8369-6,#u8252-4,#u8254-6,#u8312-7,#u8275-5,#u8276-9
{
	font-family: open-sans-n4, sans-serif;
}

#u8439-4,#u8425-4,#u8445-4,#u8435-4,#u8414-4,#u8416-4,#u8441-4,#u8437-4,#u8420-4,#u8447-4,#u8433-4,#u8428-4
{
	font-family: open-sans-n7, sans-serif;
}

#u8367-6
{
	font-family: open-sans-n4, sans-serif;
}

